<mat-toolbar class="mat-elevation-z4">
    <mat-toolbar-row>
        <span>
            <img style="cursor: pointer;" routerLink="/profile" src="../../../assets/asasa_logo.png">
        </span>
        <nav class="nav_bar">
            <ul class="nav_Links">
                <li><span routerLink="leads">Leads</span></li>
                <li>Inventory</li>
                <li>Users</li>
                <li><span routerLink="options">Options</span></li>
                <li>Inactive/Deleted Leads</li>
            </ul>
        </nav>
    </mat-toolbar-row>
</mat-toolbar>