<div style="width: 100%;">
    <mat-card>
        <mat-card-content class="d-flex align-items-center">
            <span style="padding-top: 50px;">welcome <span>SAQIB!</span></span>
        </mat-card-content>
    </mat-card>

    <div style="width: 100%; overflow: hidden;">
        <div class="row">
            <div class="col-5 pt-5" style="padding-left: 150px;">
                <img class="mt-4" src="../../assets/saqib.jpg">
            </div>
            <mat-divider [vertical]="true"></mat-divider>
            <div class="col mt-5 pr-4">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <mat-icon>perm_identity</mat-icon>
                        <span>Saqib Shakeel</span>
                    </li>
                    <li class="list-group-item">
                        <mat-icon>email</mat-icon>
                        <span>saqibshakeel40@gmail.com</span>
                    </li>
                    <li class="list-group-item">
                        <mat-icon>account_circle</mat-icon>
                        <span>ADMIN</span>
                    </li>
                    <li class="list-group-item">
                        <mat-icon>call</mat-icon>
                        <span>+923159051026</span>
                    </li>
                    <li class="list-group-item ">
                        <mat-icon>location_on</mat-icon>
                        <span>Nowshera KPK</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>